body{
    font-family: 'Roboto', sans-serif;
    background-color: #010B40;
}

.calculator{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    background-color: #0E023B;
    box-shadow: 20px 15px 30px 0px rgba(211, 125, 255, 0.19);
}

table td{
    display: inline-block;
}

.btn{
    margin: 3px;
    cursor: pointer;
    width: 50px;
    height: 40px;
    border: none;
    font-size: 16px;
    border-radius: 12px;
    transition: all 500ms ease-in-out;
    background-color: #7009FC;
    color: white;
}

.btn:hover{
    background-color: #A964CC;
}

.ac{
    background-color: #A613E5;
}

.ac:hover{
    background-color: #A964CC;
}

.special{
    background-color: #A613E5;
}

.special:hover{
    background-color: #A964CC;
}

.igual{
    background-color: #A613E5;
}

.igual:hover{
    background-color: #A964CC;
}

.result{
    height: 100px;
    color: white;
    text-align: right;
    font-size: 35px;
    word-wrap: break-word;
}